service cloud.firestore {
	match /databases/{database}/documents {
  	match /pets/{email} {
    	allow read, write: if request.auth.token.email == email;
    }
  	match /pets/{email}/{document=**} {
    	allow read, write: if request.auth.token.email == email;
    }
  }
}

