<html> 
  <head> 
    <meta charset="utf-8"> 
    <title>Critter Junction Status Dashboard</title> 
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet"> 
    <style>
       body{font-family:"open sans",arial,sans-serif}
       main{margin:auto;max-width:978px}.main-dashboard-table{border-collapse:collapse;width:100%}.main-dashboard-table 
       td{border:1px solid #eee;font-size:13px;padding:15px 0;position:relative;width:10%}.main-dashboard-table 
       td:first-child{border-left:none}.main-dashboard-table 
       td:last-child{border-right:none}.main-dashboard-table 
       td.product-name{padding-right:5px;white-space:nowrap}.product-day{background-color:#fcfcfc}.date-offset{position:relative;right:100%}.date-header{color:#767676;font-size:13px;font-weight:normal;position:relative;right:-4px;text-align:right}.status-container{position:absolute;top:36%;z-index:9999}.status-container.end-marker{left:100%}.status-container .status-icon{left:-8px}.status-icon{border-radius:15px;display:inline-block;height:15px;position:relative;width:15px}.status-icon.available{background-color:#0da960}.status-icon.available::after{bottom:1.5px;color:#fff;content:'✓';display:inline-block;position:relative;text-align:center;width:15px}.status-icon.disruption{background-color:#ff8000}.status-icon.disruption::after{bottom:1.5px;color:#fff;content:'!';display:inline-block;position:relative;text-align:center;width:15px}.status-icon.outage{background-color:#dd4b39}.status-icon.outage::after{bottom:1.5px;color:#fff;content:'×';display:inline-block;position:relative;text-align:center;width:15px}.status-icon.information{background-color:#808080}.status-icon.information::after{bottom:2.5px;color:#fff;content:'-';display:inline-block;position:relative;text-align:center;width:15px}</style> <psd-google-analytics-tracking> <script>(function(){var trackingId='UA-177437757-6';(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create',trackingId,{'storage':'none' });ga('set','anonymizeIp',true);ga('set','referrer',document.referrer.split('?')[0]);ga('set','location',window.location.href.split("?")[0]);ga('send','pageview');})();</script> </psd-google-analytics-tracking> </head> <body> <psd-dashboard-top-bar class="mPVexkcpuTk__intro">
      <style>header{min-height:64px;display:flex;align-items:center;border-bottom:1px solid #eee;margin:auto;max-width:978px}header .mPVexkcpuTk__dashboard-logo{float:left;height:120px}</style> <header> <a class="mPVexkcpuTk__logo-link" href="https://status.cloud.google.com/"> <img class="mPVexkcpuTk__dashboard-logo" alt="Google Cloud" src="img/critter-junction-logo.png"> </a> </header> </psd-dashboard-top-bar> <main> <h1>
      <style>h1{color:#444;font-size:18px;font-weight:600}</style>Critter Junction Status Dashboard</h1> 
      <div>
      <style>.lQjRvVaKLNV__banner{background-color:#fff176;border-radius:5px;padding:5px 8px;margin:8px}</style>  
      </div> 

      <div class="aNxXV4vcNrg__intro">
      <style>a{color:#245dc1;text-decoration:none}a:hover{text-decoration:underline}a:visited{color:#7759ae}.aNxXV4vcNrg__intro{color:#767676;font-size:13px}</style> 
      <span> This page provides status information on the services that are part of Critter Junction.</span>
      </div> 
      <table class="main-dashboard-table"> <thead> <tr> <th> </th> 
      <th> <div class="date-offset"> 
      <div class="date-header">May 5</div> </div> </th>
      <th> <div class="date-offset"> <div class="date-header">6</div> </div> </th>
      <th> <div class="date-offset"> <div class="date-header">7</div> </div> </th>
      <th> <div class="date-offset"> <div class="date-header">8</div> </div> </th>
      <th> <div class="date-offset"> <div class="date-header">9</div> </div> </th>
      <th> <div class="date-offset"> <div class="date-header">10</div> </div> </th>
      <th> <div class="date-offset"> <div class="date-header">11</div> </div> </th>
      <th> <div class="date-offset"> <div class="date-header">12</div> </div> </th> 
      </tr> </thead> <tbody> <tr> <td class="product-name"> API Engine </td> <td class="product-day">   </td>
      <td class="product-day">   </td>
      <td class="product-day">   </td>
      <td class="product-day">   </td>
      <td class="product-day">   </td>
      <td class="product-day">   </td>
      <td class="product-day">   </td>
      <td class="product-day">   <div class="status-container end-marker"> <a class="status-icon available">
      </a> </div>  </td> </tr>
      <tr> <td class="product-name"> API Connector </td> <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   <div class="status-container end-marker"> <a class="status-icon available">
      </a> </div>  </td> </tr>
      <tr> <td class="product-name"> Cloud Binary Authorization </td> <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   <div class="status-container end-marker"> <a class="status-icon available">
      </a> </div>  </td> </tr>
      <tr> <td class="product-name"> Cloud Data Engine </td> <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   <div class="status-container end-marker"> <a class="status-icon available">
      </a> </div>  </td> </tr>
      <tr> <td class="product-name"> Cloud Developer Engine </td> <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   </td>
        <td class="product-day">   <div class="status-container end-marker"> <a class="status-icon available">
      </a> </div>  </td> </tr>

      <script src="https://support.google.com/inapp/api.js">
      </script>
      <style>
           ul.hS6GEzRhW2F__table-documentation{color:#767676;display:flex;font-size:13px;list-style:none;padding:0}
           ul.hS6GEzRhW2F__table-documentation 
             li{display:inline-block}
           ul.hS6GEzRhW2F__table-documentation .hS6GEzRhW2F__with-margin{margin:5px}
           ul.hS6GEzRhW2F__table-documentation .hS6GEzRhW2F__text{flex-grow:1}
           ul.hS6GEzRhW2F__table-documentation .hS6GEzRhW2F__dot-after::after{content:'\002022';margin:5px}.hS6GEzRhW2F__atom-feed-icon{background:url(image/critter-junction-logo.png) left no-repeat;background-size:16px 16px;padding-left:16px}</style>  
        </ul> <ul class="nqqp3ZlxVUB__service-status-documentation">
        <style>.nqqp3ZlxVUB__status-icon{border-radius:15px;display:inline-block;height:15px;position:relative;width:15px}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__available{background-color:#0da960}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__available::after{bottom:1.5px;color:#fff;content:'✓';display:inline-block;position:relative;text-align:center;width:15px}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__disruption{background-color:#ff8000}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__disruption::after{bottom:1.5px;color:#fff;content:'!';display:inline-block;position:relative;text-align:center;width:15px}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__outage{background-color:#dd4b39}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__outage::after{bottom:1.5px;color:#fff;content:'×';display:inline-block;position:relative;text-align:center;width:15px}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__information{background-color:#808080}.nqqp3ZlxVUB__status-icon.nqqp3ZlxVUB__information::after{bottom:1.5px;color:#fff;content:'-';display:inline-block;position:relative;text-align:center;width:15px}
           ul.nqqp3ZlxVUB__service-status-documentation{color:#767676;font-size:13px;list-style:none;padding:0}
           ul.nqqp3ZlxVUB__service-status-documentation 
           li{display:inline-block}
           ul.nqqp3ZlxVUB__service-status-documentation .nqqp3ZlxVUB__with-margin{margin:5px}
           ul.nqqp3ZlxVUB__service-status-documentation .nqqp3ZlxVUB__status-icon{bottom:-1.5px;margin-right:5px}</style> 
        <li class="nqqp3ZlxVUB__with-margin"> 
        <span class="nqqp3ZlxVUB__status-icon nqqp3ZlxVUB__available">
          </span>
          <span>Available</span> </li> <li class="nqqp3ZlxVUB__with-margin"> <span class="nqqp3ZlxVUB__status-icon nqqp3ZlxVUB__information">
          </span>
          <span>Service information</span> </li> <li class="nqqp3ZlxVUB__with-margin"> <span class="nqqp3ZlxVUB__status-icon nqqp3ZlxVUB__disruption">
          </span>
          <span>Service disruption</span> </li> <li class="nqqp3ZlxVUB__with-margin"> <span class="nqqp3ZlxVUB__status-icon nqqp3ZlxVUB__outage">
          </span>
          <span>Service outage</span> </li> </ul>  </main> </body> </html>
